@media (min-width: 550px) {
  button {
    font-size: 11pt;
    letter-spacing: 1pt;
  }
  header {
    padding-top: 2rem;
  }

  header img {
    height: 1.5rem;
  }

  header button {
    width: 8rem;
    height: 2rem;
    background-color: #fff;
    border: 1px solid;
    border-radius: 50px;
    color: hsl(322, 100%, 66%);
  }
  .hero h1 {
    font-size: 30pt;
    margin-bottom: 2rem;
  }

  .hero p {
    font-size: 15pt;
    max-width: 38rem;
  }

  .hero button {
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    height: 50px;
    width: 14rem;
    color: white;
    margin-top: 4rem;
  }

  .statsRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
  }

  .stats {
    padding: 1rem 1rem;
  }

  .stats img {
    width: 2.5rem;
  }

  .statNum {
    font-size: 60pt;
    font-family: open_sansbold;
  }

  .statText {
    font-size: 15pt;
  }

  .card1::before {
    background: no-repeat bottom / cover
      url(../images/bg-section-top-desktop-1.svg);
    height: 10rem;
  }

  .card1::after {
    background: no-repeat top / cover
      url(../images/bg-section-bottom-desktop-1.svg);
    height: 8rem;
  }

  .card3::before {
    background: no-repeat bottom / cover
      url(../images/bg-section-top-desktop-2.svg);
    height: 10rem;
  }

  .card3::after {
    background: no-repeat top / cover
      url(../images/bg-section-bottom-desktop-2.svg);
    height: 8rem;
  }

  .card-layout {
    flex-flow: row-reverse wrap;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
  }

  .card-reverse {
    flex-flow: row;
  }

  .card-layout .card-illustration {
    flex: 1 0 0;
    padding: 2rem;
  }

  .card-layout .card-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    flex: 1 0 0;
    padding: 1rem 2rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .card-layout h2 {
    margin: 2rem 0;
    padding: 0;
    text-align: left;
  }

  .card-layout p {
    text-align: left;
  }

  .last-card {
    margin-top: 5rem;
    flex-flow: column;
  }

  footer::before {
    height: 10rem;
    background: no-repeat bottom / cover
      url(../images/bg-footer-top-desktop.svg);
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
  }

  .newsletter-col {
    max-width: 28rem;
    flex: 1 0 0;
    padding-top: 4rem;
  }
  .contacts-col {
    flex: 1 0 0;
    max-width: 30rem;
    padding-bottom: 7rem;
  }

  .contacts-col p {
    max-width: 25rem;
  }

  .newsletter-col p {
    max-width: 24rem;
  }

  .newsletter-col form {
    flex-flow: row wrap;
    align-items: center;
  }

  form input {
    flex: 3 0 0;
    height: 3rem;
  }
  form .subscribe {
    flex: 1 0 0;
    height: 3rem;
    margin-left: 1rem;
  }
}
